* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

header {
    background-color: green;
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

a.home{
    font-size: 4rem;
    font-weight: bold;
}

nav ul{
    list-style: none;
}

header a {
    text-decoration: none;
}

ul {
    display: flex;
    gap: 1rem;
}

nav a {
    background-color: darkolivegreen;
    color: ghostwhite;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 2.4rem;
    transition: all 0.5s ease-in-out;
}

nav a:hover {
    background-color: gold;
}

section.banner {
    height: 90vh;
    width: 100%;
    background-image: url('https://source.unsplash.com/random/1280x720');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.content {
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'content1 content2';
}

section.content > section {
    padding: 4rem;
    font-size: 2rem;
}

section h3 {
    color: darkblue;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}

section.content1 {
    grid-area: content1;
}

section.content2 {
    grid-area: content2;
}